* {
  padding: 0;
  margin: 0;
}
.App {
  min-height: calc(100vh - 10vh);
}
#page-desc {
  font-family: sans-serif;
  padding: 0 4vw;
}
#page-desc h1 {
  text-transform: capitalize;
}
@media screen and (min-width: 1050px) {
  #page-desc{
    padding: 0 50px;
  }
}