#hero-button {
  padding: 5px 5px;
  border-radius: 0%;
  border: 1px solid lightgoldenrodyellow;
  background: transparent;
  color: lightgoldenrodyellow;
  margin-top: 1em;
}
#main-hero {
  background-image: url('../Hero/img/welder.jpg');
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  height: 45vh;
}
#main-hero {
  font-size: 150%;
}
#main-hero-content-container {
  /* margin-bottom: 15%; */
  padding: 0 4vw;
}
@media screen and (min-width: 730px) {
  #main-hero{
    font-size: 40px;
  }
}
@media screen and (min-width: 850px) {
  #main-hero{
    font-size: 45px;
  }
}